<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-client_id" content="{{{GOOGLE_SSO_ID}}}" />
  <title>Erm hey.</title>
</head>

<body>
  <img src="https://media.giphy.com/media/3o6Zt7aSSZLX6U5WtW/source.gif" />

  <script src="/socket.io/socket.io.js"></script>

  <script src="{{{HOST_NAME}}}/scripts.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>